<div class="flex flex-col justify-center flex-1 w-full max-w-md mx-auto">
  <div>
    <div class="mb-5 sm:mb-8">
      <h1 class="mb-2 font-semibold text-gray-800 text-title-sm dark:text-white/90 sm:text-title-md">
        Sign In
      </h1>
    </div>

    <!-- Updated Form -->
    <form (ngSubmit)="onSignIn()" class="space-y-6">

      <!-- Email -->
      <div class="col-span-1">
        <app-label>Email <span class="text-error-500">*</span></app-label>
        <app-input-field
          id="email"
          type="email"
          placeholder="info@gmail.com"
          [(ngModel)]="email"
          name="email"
          required
        />
      </div>

      <!-- Password -->
      <div class="col-span-1">
        <app-label>Password <span class="text-error-500">*</span></app-label>

        <div class="relative">
          <app-input-field
            id="password"
            [type]="showPassword ? 'text' : 'password'"
            placeholder="Enter your password"
            [(ngModel)]="password"
            name="password"
            required
          />
          <span
            (click)="togglePasswordVisibility()"
            class="absolute z-30 -translate-y-1/2 cursor-pointer right-4 top-1/2"
          >
            @if (showPassword) {
              <!-- Eye Icon -->
              <svg width="1em" height="1em" class="fill-gray-500 dark:fill-gray-400 size-5" viewBox="0 0 20 20"><path ... /></svg>
            } @else {
              <!-- Hidden Icon -->
              <svg width="1em" height="1em" class="fill-gray-500 dark:fill-gray-400 size-5" viewBox="0 0 20 20"><path ... /></svg>
            }
          </span>
        </div>
      </div>
      <div class="flex items-center justify-between">
        <div class="flex items-center gap-3">
          <app-checkbox [(checked)]="isChecked" label="Keep me logged in" />
        </div>
        <a routerLink="/reset-password" class="text-sm text-brand-500 hover:text-brand-600 dark:text-brand-400">
          Forgot password?
        </a>
      </div>
      <app-button className="w-full" size="sm" (btnClick)="onSignIn()">
        Sign in
      </app-button>
    </form>
  </div>
</div>
